/* Breakpoints */
/* Style starts here */
@font-face {
  font-family: "JohnnieWalkerSansBold";
  src: url("src/fonts/JohnnieWalkerSansWeb-Bold.ttf") format("truetype"),
    url("./src/fonts/JohnnieWalkerSansWeb-Bold.woff2") format("woff2"),
    url("./src/fonts/JohnnieWalkerSansWeb-Bold.woff") format("woff");
}
@font-face {
  font-family: "JohnnieWalkerSansBook";
  src: url("src/fonts/JohnnieWalkerSansWeb-Book.ttf") format("truetype"),
    url("./src/fonts/JohnnieWalkerSansWeb-Book.woff2") format("woff2"),
    url("./src/fonts/JohnnieWalkerSansWeb-Book.woff") format("woff");
}
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  font-family: "JohnnieWalkerSansBook", Sans-Serif;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400;
}

@media (min-width: 50.9275em) {
  body {
    font-size: 16px;
  }
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #feaa04;
  }
  body::-webkit-scrollbar {
    width: 5px;
    background-color: #ea9ba6;
  }
  body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    background-color: #ea9ba6;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.page-wrapper {
  min-height: 100vh;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 480px;
}
@media (min-width: 50.9275em) {
  .page-wrapper {
    max-width: 100%;
  }
}

img {
  max-width: 100%;
}

.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.img-wrapper {
  position: relative;
}
.img-wrapper img {
  max-width: 100%;
  border-radius: 8px;
}

.sub-title {
  color: #fff;
  font-weight: 300;
  text-align: center;
}

.main-title {
  color: #000;
  font-weight: 600;
  text-align: center;
  line-height: 1.2;
}

.normal-text {
  color: #fff;
  font-weight: 200;
  font-size: 0.85rem;
  text-align: center;
  margin: 0;
}

.text-link {
  color: #fff;
  font-weight: 200;
  font-size: 0.85rem;
  border-bottom: 1px solid #fff;
}

.gate-wrapper {
  min-height: 100vh;
  position: relative;
  background-color: #122772;
  padding: 2.5rem 1rem;
  display: none;
}

.gate-wrapper .container {
  position: relative;
}
.gate-wrapper .bg {
  background-image: url("src/img/age-prompt-bg.jpg");
}
.gate-wrapper .img-wrapper {
  text-align: center;
  margin-bottom: 1rem;
}
.gate-wrapper .img-wrapper img {
  width: 80px;
}

.content {
  position: relative;
  width: 640px;
  max-width: 100%;
  margin: 0 auto;
}
.content .sub-title {
  color: #fff;
  margin-bottom: 0.5rem;
}
.content .main-title {
  color: #feaa03;
  margin-bottom: 1.5rem;
}

.gate-wrapper .content .main-title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
@media (min-width: 50.9275em) {
  .gate-wrapper .content .main-title {
    font-size: 1.3rem;
  }
}

.form-wrapper .sub-title {
  margin-bottom: 0.5rem;
}
.form-wrapper .form-row {
  padding: 0.2rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.form-wrapper .form-row .input-wrapper {
  width: 30%;
}
.form-wrapper .form-row .input-wrapper select {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-wrapper .normal-text {
  margin-top: 0.5rem;
}
.form-wrapper .checkbox {
  padding-top: 1.5rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.form-wrapper .checkbox input[type="checkbox"] {
  cursor: pointer;
}
.form-wrapper .checkbox label {
  color: #fff;
  font-size: 0.85rem;
  cursor: pointer;
}
.form-wrapper .btn-wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
.form-wrapper .btn-wrapper button {
  display: inline-block;
  width: 220px;
  max-width: 100%;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.355rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2px;
  transition: all 0.5s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 50;
  background: #fff;
}

/* Animations & Effects */
.buttonfx {
  color: black;
  /* button text color */
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 4px solid #eee;
  letter-spacing: 0.0625em;
  padding: 8px 10px;
  text-transform: uppercase;
  font: bold 16px "Bitter", sans-serif;
  /* use google font */
  line-height: 2;
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
  /* remove underline if using A instead of BUTTON tag */
  overflow: hidden;
  transition: all 0.5s;
}

/* //// Default effect: Slide from Top  //// */
.buttonfx:before,
.buttonfx:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: #feaa03;
  /* onhover background color */
  z-index: -1;
  transform: translate3D(0, -100%, 0);
  /* move elements above button so they don't appear initially */
  transition: all 0.5s;
}

.buttonfx:before {
  background: #fafcd6;
  /* button default background color */
  z-index: -2;
  transform: translate3D(0, 0, 0);
}

.buttonfx:hover {
  color: white;
}

.buttonfx:hover:after {
  transform: translate3D(0, 0, 0);
  transition: all 0.5s;
}

.doubletake:before,
.doubletake:after {
  width: 200%;
  background: #feaa03;
  transform-origin: 0 bottom;
  transform: translate3D(-50%, 0, 0) rotate(-50deg);
}

.doubletake:before {
  opacity: 0.4;
}

.doubletake:hover:before,
.doubletake:hover:after {
  transform: rotate(0deg);
  transition: all 0.25s;
}

.doubletake:hover:after {
  transition-delay: 0.25s;
}

@media (min-width: 50.9275em) {
  header {
    padding: 1.5rem 1rem 0.5rem 1rem;
  }
}

/* Header */
.site-header .site-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: relative;
  padding: 1rem;
}
@media (min-width: 50.9275em) {
  .site-header .site-nav {
    padding: 0;
  }
}
.site-header .site-nav .logo-wrapper img {
  width: 170px;
}
@media (min-width: 50.9275em) {
  .site-header .site-nav .logo-wrapper img {
    width: 250px;
  }
}
.site-header .site-nav .toggle-menu-btn {
  position: absolute;
  right: 0;
  padding: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 50.9275em) {
  .site-header .site-nav .toggle-menu-btn {
    display: none;
  }
}
.site-header .site-nav .toggle-menu-btn button {
  -webkit-appearance: none;
  background: none;
  outline: 0;
  border: 0;
  cursor: pointer;
  position: relative;
}
.site-header .site-nav .toggle-menu-btn button img {
  width: 20px;
}
@media (min-width: 50.9275em) {
  .site-header .site-nav .logo-wrapper img {
    width: 250px;
  }
}
.site-header .site-nav .toggle-menu-btn button .menu-open {
  visibility: hidden;
  position: absolute;
}

/* Site Menu */
.site-menu {
  position: relative;
  min-height: 100vh;
  padding: 1rem;
  /* Hidden */
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  height: 0;
}
@media (min-width: 50.9275em) {
  .site-menu {
    position: relative;
    visibility: visible;
    pointer-events: all;
    top: unset;
    height: auto;
    min-height: auto;
    padding: 0;
    padding: 0.5rem 1rem 1.5rem 1rem;
  }
}
.site-menu .bg {
  background-image: url("./src/img/age-prompt-bg.jpg");
}
@media (min-width: 50.9275em) {
  .site-menu .bg {
    display: none;
  }
}
.site-menu .container {
  position: relative;
  padding: 1.5rem 0rem 1.5rem 0rem;
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
@media (min-width: 50.9275em) {
  .site-menu .container {
    min-height: auto;
    text-align: center;
    flex-direction: row;
    padding: 0;
  }
}
.site-menu .container .menu {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 1rem;
}
@media (min-width: 50.9275em) {
  .site-menu .container .menu {
    padding: 0;
    display: inline-flex;
    width: auto;
  }
}
.site-menu .container .menu li {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  min-height: 60px;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
@media (min-width: 50.9275em) {
  .site-menu .container .menu li {
    min-height: auto;
    padding: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
.site-menu .container .menu li a {
  font-weight: 600;
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: 1.1px;
  text-align: center;
  transform: translateY(40px);
  opacity: 0.3;
  transition: transform 0.5s cubic-bezier(0, 0, 0.21, 1.19), opacity 0.5s cubic-bezier(0.4, 0, 1, 1);
}
@media (min-width: 50.9275em) {
  .site-menu .container .menu li a {
    font-size: 0.85rem;
    margin: 0 0.5rem;
    color: #332f21;
    opacity: 1;
    transform: none;
    transition: transform 0.5s cubic-bezier(0, 0, 0.21, 1.19), opacity 0.5s cubic-bezier(0.4, 0, 1, 1),
      color 0.2s ease-in-out;
  }
  .site-menu .container .menu li a:hover {
    color: #feaa04;
  }
}
.site-menu .container .menu li:nth-child(1) a {
  transition-delay: 0.05s;
}
.site-menu .container .menu li:nth-child(2) a {
  transition-delay: 0.1s;
}
.site-menu .container .menu li:nth-child(3) a {
  transition-delay: 0.15s;
}
.site-menu .container .menu li:nth-child(4) a {
  transition-delay: 0.2s;
}
.site-menu .container .menu-info {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  transform: translateY(40px);
  opacity: 0.3;
  transition: transform 0.5s cubic-bezier(0, 0, 0.21, 1.19), opacity 0.5s cubic-bezier(0.4, 0, 1, 1);
  transition-delay: 0.2s;
}
@media (min-width: 50.9275em) {
  .site-menu .container .menu-info {
    display: none;
  }
}
.site-menu .container .menu-info .sub-title {
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #feaa04;
  border-bottom: 1px solid #feaa04;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}
.site-menu .container .menu-info .normal-text {
  font-size: 0.65rem;
}
.site-menu .container .menu-info .normal-text.copyright {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
  font-size: 0.65rem;
}
.site-menu .container .backtotop {
  text-align: center;
  display: none;
}
@media (min-width: 50.9275em) {
  .site-menu .container .backtotop {
    display: none;
  }
}
.site-menu .container .backtotop a img {
  width: 30px;
}
.site-menu .container .backtotop a span {
  display: block;
  color: #fff;
  font-size: 0.6rem;
  margin-top: 0.2rem;
  text-transform: uppercase;
}

/* main content */
.main-content {
  background: #c67000;
  position: relative;
}

#intro-section {
  position: relative;
  min-height: auto;
  padding-top: 2rem;
  padding: 1rem;
}
@media (min-width: 50.9275em) {
  #intro-section {
    min-height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
#intro-section .bg {
  background-image: url("./src/img/intro-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
@media (min-width: 50.9275em) {
  #intro-section .bg {
    background-image: url("./src/img/intro-bg-lg.jpg");
  }
  #intro-section .bg:after {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 10%, rgba(255, 255, 255, 0.06) 100%);
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
#intro-section #canvas {
  position: relative;
  z-index: 100;
}
#intro-section #canvas img {
  pointer-events: none;
  margin-bottom: -35%;
  width: 75%;
}
@media (min-width: 50.9275em) {
  #intro-section #canvas img {
    margin-bottom: -50%;
    width: calc(40vh);
  }
  #intro-section .content {
    width: 80%;
    max-width: 100%;
    padding-bottom: 2rem;
    margin: 0 auto;
  }
}
#intro-section .content .main-title {
  font-size: 2.3rem;
  color: #fff;
  font-weight: 550;
  margin-bottom: 0.8rem;
  font-family: "JohnnieWalkerSansBold";
}
@media (min-width: 50.9275em) {
  #intro-section .content .main-title {
    font-size: 2.8rem;
    text-align: left;
    max-width: 41%;
  }
}
#intro-section .content .normal-text {
  font-size: 1rem;
  margin-bottom: 0.8rem;
}
@media (min-width: 50.9275em) {
  #intro-section .content .normal-text {
    text-align: left;
    max-width: 40%;
  }
}
#intro-section .content .scroll-indicator {
  margin-top: 2rem;
  text-align: center;
}
#intro-section .content .scroll-indicator a {
  display: inline-block;
}
#intro-section .content .scroll-indicator a span {
  display: block;
  margin-bottom: 0.5rem;
  color: #fff;
  font-size: 0.85rem;
}
#intro-section .content .scroll-indicator a img {
  width: 30px;
}

#video {
  min-height: 70vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
@media (min-width: 50.9275em) {
  #video {
    min-height: calc(100vh - 120px);
  }
}
#video .video-bg {
  background-image: url("./src/img/video-thumbail-bg.jpg");
}
@media (min-width: 50.9275em) {
  #video .video-bg {
    background-image: url("./src/img/video-thumbail-bg-lg.jpg");
    background-repeat: no-repeat;
  }
}
#video .video-bg video {
  width: 100%;
  height: 100%;
  display: none;
}
body.video-playing #video .video-bg video {
  display: block;
}
body.video-playing #video .content #play-video-wrapper a img {
  opacity: 0.7;
}
#video .content {
  padding: 1rem;
}
body.video-playing #video .content {
  opacity: 0;
}
body.video-playing #video .content:hover {
  opacity: 0.5;
}
#video .content #play-video-wrapper {
  text-align: center;
  margin-bottom: 2rem;
}
#video .content #play-video-wrapper a {
  text-decoration: none;
  outline: none;
}
#video .content #play-video-wrapper a img {
  width: 90px;
  margin: 0 auto;
}
#video .content .main-title {
  margin-bottom: 1rem;
}

#about {
  min-height: auto;
  padding: 1rem;
  position: relative;
  z-index: 9;
}
#about .content-wrapper {
  margin-top: -2.5rem;
  position: relative;
  border-radius: 10px;
  padding: 1rem;
  background: #770309;
  background: linear-gradient(90deg, #770309 0%, #b5040d 100%);
  background: #000;
  background: linear-gradient(90deg, #000 0%, #1f1a1a 100%)
}
@media (min-width: 50.9275em) {
  #about .content-wrapper {
    margin-top: -3.5rem;
    width: 80%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
}
#about article {
  display: block;
  max-height: calc(100vh - 100px);
  overflow: auto;
}
@media (min-width: 50.9275em) {
  #about article {
    max-height: calc(100vh - 120px);
  }
}
#about article::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #d4374a;
}
#about article::-webkit-scrollbar {
  width: 5px;
  background-color: #ea9ba6;
}
#about article::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: #ea9ba6;
}
#about article .main-title {
  color: #feaa04;
  font-weight: 500;
  font-size: 1.3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
@media (min-width: 50.9275em) {
  #about article .main-title {
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-family: "JohnnieWalkerSansBold", Sans-Serif;
  }
}
#about article .sub-title {
  color: #feaa04;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
@media (min-width: 50.9275em) {
  #about article .sub-title {
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}
#about article .normal-text {
  text-align: center;
  font-size: 0.95rem;
  padding-right: 0.5rem;
}
@media (min-width: 50.9275em) {
  #about article .normal-text {
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
  }
}
#about .link-wrapper,#video .link-wrapper, #leaderboard .link-wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
@media (min-width: 50.9275em) {
  #about .link-wrapper,#video .link-wrapper, #leaderboard .link-wrapper {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    justify-content: center;
  }
}
#about .link-wrapper a,#video .link-wrapper a, #leaderboard .link-wrapper a {
  width: 45%;
  color: #000;
  background: #feaa04;
  padding: 0.3rem;
  text-align: center;
  border-radius: 5px;
  font-weight: 600;
}
@media (min-width: 50.9275em) {
  #about .link-wrapper a,#video .link-wrapper a, #leaderboard .link-wrapper a {
    font-weight: 500;
    min-height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    width: 250px;
  }
}
#about .link-wrapper a:last-child {
  color: #feaa04;
  background: transparent;
  padding: 0.3rem;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #feaa04;
}
.f-justify {
  justify-content: center !important;
}
.full {
  width: 100% !important;
}
@media (min-width: 50.9275em) {
  .full {
    max-width: 400px !important;
  }
  #about .link-wrapper a:nth-child(2),#video .link-wrapper a:nth-child(2) {
    min-width: 250px;
    margin-left: 2rem;
  }
  #about .link-wrapper a:last-child {
    min-width: 250px;
    margin-left: 2rem;
  }
}


.iziModal {
  padding: 1rem;
  background: transparent;
  box-shadow: none;
  border-bottom: none;
}

#venues,
#leaderboard {
  position: relative;
}
@media (max-width: 50.9275em) {
  #about .link-wrapper a:nth-child(2) {
    display: none;
  }
}
@media (min-width: 50.9275em) {
  #venues,
  #leaderboard {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
#venues .half-bg,
#leaderboard .half-bg {
  height: 40%;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  position: absolute;
}
#venues .content-section,
#leaderboard .content-section {
  padding: 1rem;
}
@media (min-width: 50.9275em) {
  #venues .content-section,
  #leaderboard .content-section {
    width: 80%;
    margin: 0 auto;
  }
}
#venues .content-section .main-title,
#leaderboard .content-section .main-title {
  color: #fff;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 50.9275em) {
  #venues .content-section .main-title,
  #leaderboard .content-section .main-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}
#venues .content-section .normal-text,
#leaderboard .content-section .normal-text {
  color: #fff;
  font-size: 0.85rem;
}
@media (min-width: 50.9275em) {
  #venues .content-section .normal-text,
  #leaderboard .content-section .normal-text {
    font-size: 1rem;
  }
}
#venues .carousel-wrapper,
#leaderboard .carousel-wrapper {
  position: relative;
}
@media (min-width: 50.9275em) {
  #venues .carousel-wrapper,
  #leaderboard .carousel-wrapper {
    margin: 0 auto;
    width: 80%;
  }
}
#venues .carousel-wrapper .swiper-container,
#leaderboard .carousel-wrapper .swiper-container {
  padding: 1.5rem 1rem;
}
#venues .carousel-wrapper .swiper-container .swiper-wrapper .swiper-slide,
#leaderboard .carousel-wrapper .swiper-container .swiper-wrapper .swiper-slide {
  width: 60%;
}
@media (min-width: 50.9275em) {
  #venues .carousel-wrapper .swiper-container .swiper-wrapper .swiper-slide,
  #leaderboard .carousel-wrapper .swiper-container .swiper-wrapper .swiper-slide {
    width: 23%;
  }
}
#venues .carousel-wrapper .swiper-container .swiper-wrapper .swiper-slide a .img-wrapper h5,
#leaderboard .carousel-wrapper .swiper-container .swiper-wrapper .swiper-slide a .img-wrapper h5 {
  color: #fff;
  font-size: 0.75rem;
  position: absolute;
  padding: 1rem;
  bottom: 6px;
}
@media (min-width: 50.9275em) {
  #venues .carousel-wrapper .swiper-container .swiper-wrapper .swiper-slide a .img-wrapper h5,
  #leaderboard .carousel-wrapper .swiper-container .swiper-wrapper .swiper-slide a .img-wrapper h5 {
    font-size: 1rem;
  }
}
#venues .carousel-wrapper .swiper-container .swiper-wrapper .swiper-slide a .content ul,
#leaderboard .carousel-wrapper .swiper-container .swiper-wrapper .swiper-slide a .content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#venues .carousel-wrapper .swiper-container .swiper-wrapper .swiper-slide a .content ul li,
#leaderboard .carousel-wrapper .swiper-container .swiper-wrapper .swiper-slide a .content ul li {
  color: #fff;
  font-size: 0.7rem;
}
@media (min-width: 50.9275em) {
  #venues .carousel-wrapper .swiper-container .swiper-wrapper .swiper-slide a .content ul li,
  #leaderboard .carousel-wrapper .swiper-container .swiper-wrapper .swiper-slide a .content ul li {
    font-size: 0.85rem;
  }
}
#leaderboard {
  background-color: #000000;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#leaderboard .table-wrapper {
  padding: 2rem 0;
}
@media (min-width: 50.9275em) {
  #leaderboard .table-wrapper {
    width: 70%;
    margin: 0 auto;
  }
}
#leaderboard .table-wrapper table {
  width: 100%;
}
#leaderboard .table-wrapper table thead tr td span {
  text-transform: uppercase;
  color: #feaa03;
  padding: 0.2rem;
  border-bottom: 1px solid #feaa03;
}
#leaderboard .table-wrapper table tbody tr td {
  color: #fff;
  padding: 0.4rem;
}

#footer {
  background: #2a261c;
}
#footer .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  padding: 2rem 1rem;
}
#footer .container .img-wrapper {
  width: 30%;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
#footer .container .img-wrapper img {
  width: 100px;
  max-width: 80%;
}
#footer .container .footer-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  padding-left: 0.5rem;
}
#footer .container .footer-content .normal-text {
  text-align: left;
  font-size: 0.75rem;
}
@media (min-width: 50.9275em) {
  #footer .container .footer-content .normal-text {
    font-size: 1rem;
    max-width: 75%;
  }
}
#footer .container .footer-content .sub-title {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #feaa04;
  border-bottom: 1px solid #feaa04;
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 50.9275em) {
  #footer .container .footer-content .sub-title {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
#footer .container .footer-content .social-link-wrapper {
  padding: 1rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
#footer .container .footer-content .social-link-wrapper a {
  display: inline-block;
}
#footer .container .footer-content .social-link-wrapper a img {
  width: 25px;
  margin-right: 0.8rem;
}
@media (min-width: 50.9275em) {
  #footer .container .footer-content .social-link-wrapper a img {
    width: 35px;
    margin-right: 1rem;
  }
}
.backtotop_fixed {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
}
@media (min-width: 50.9275em) {
  .backtotop_fixed {
    bottom: 2rem;
    right: 2rem;
    padding: 1rem;
  }
}
.backtotop_fixed a img {
  width: 25px;
}
@media (min-width: 50.9275em) {
  .backtotop_fixed a img {
    width: 50px;
  }
}

/* Menu Open Overrides */
body.menu-open .site-menu {
  visibility: visible;
  pointer-events: all;
  position: relative;
  top: unset;
  height: auto;
}
body.menu-open .site-header .site-nav .toggle-menu-btn button .menu-closed {
  visibility: hidden;
  position: absolute;
  top: 0;
  pointer-events: none;
}
body.menu-open .site-header .site-nav .toggle-menu-btn button .menu-open {
  visibility: visible;
  position: relative;
  top: unset;
  pointer-events: all;
}
body.menu-open .main-content,
body.form-open .main-content,
body.form-open .site-header {
  display: none;
}
body.menu-open .site-menu .container .menu li a {
  transform: none;
  opacity: 1;
}
body.menu-open .site-menu .container .menu-info {
  transform: none;
  opacity: 1;
}

body.form-open .gate-wrapper {
  display: block;
}
@media (min-width: 50.9275em) {
  body.form-open .gate-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.loader {
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 9999;
  height: 100vh;
  background: #c67000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out 0.3s;
}
.loader .bg {
  background-image: url("src/img/age-prompt-bg.jpg");
}

@media (min-width: 50.9275em) {
  .loader .bg {
    background-image: url("src/img/age-prompt-bg-lg.jpg");
  }
}
.loader .img-wrapper_ {
  position: relative;
  transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out 0.18s;
}
.loader .img-wrapper_ img {
  width: 100px;
  will-change: auto;
}
body.loader-out .loader .img-wrapper_ {
  transform: translateY(-100vh);
  opacity: 0;
}
body.loader-out .loader {
  opacity: 0;
  pointer-events: none;
}

/* CSS Animations */
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.floater {
  animation-name: floater;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, 0px);
  }
}

@keyframes floater {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 20px);
  }
  to {
    transform: translate(0, 0px);
  }
}

#form-alert {
  font-size: 1.15rem;
  color: rgb(216, 58, 88);
  transition: color 0.15s ease-in-out, opacity 0.15s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 0;
  height: 0;
}

#form-alert.open {
  opacity: 1;
  position: relative;
  top: unset;
  height: unset;
}

#gallery {
  height: 70vh;
  position: relative;
}

@media (max-width: 50.9275em) {
  #gallery {
    height: auto;
    position: relative;
  }
}

#gallery .gallery-wrapper {
  height: 100%;
}

#gallery .gallery-wrapper .swiper-container {
  height: 100%;
}

#gallery .gallery-wrapper .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
}

#gallery .gallery-wrapper .swiper-container .swiper-wrapper .swiper-slide img {
  position: relative;
  height: 100%;
  width: auto;
  margin: 0 auto;
}
@media (max-width: 50.9275em) {
  #gallery .gallery-wrapper .swiper-container .swiper-wrapper .swiper-slide img {
    max-height: 260px;
  }
}
#gallery .gallery-wrapper .swiper-container .swiper-wrapper .swiper-slide .bg {
  filter: blur(8px);
  -webkit-filter: blur(15px);
  z-index: -1;
}
#gallery .gallery-wrapper .swiper-container .swiper-wrapper .swiper-slide .bg:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  content: "";
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'><path%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23B1040D'%2F><%2Fsvg>");
  right: 10px;
  left: auto;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'><path%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23B1040D'%2F><%2Fsvg>");
  left: 10px;
  right: auto;
}

img {
  vertical-align: middle;
}